html { height: 100%; }

body { height: 100%; background: url(/img/subtle_grunge.png) repeat; color: #333; }

.navbar-inner { background: url(/img/burried.png) repeat; }
.navbar .nav > li > a, .navbar .brand { color: #eee; text-shadow: 0 1px 0 #000; }
.navbar .nav > li > a:hover { color: #999; }

.map, .template-map, .template-map .row, .template-map .container-fluid { min-height:100%; height:100%; width:100%;}
.map { color: #222; }

#submit_map { height:300px; width: 350px; }
#submit_map img { max-width: none !important; }

.container-fluid { padding-left: 0; padding-right: 0; }

.row { margin-left: 0;}

.fill {
    top: 40px;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    width: auto;
    height: auto;
}

.form-actions {
    background-color: transparent;
    border-top: none;
}

.caution { background: #a3000f; color: #fff; border: 1px solid #666; box-shadow: inset 0 1px 0 #333; }

.copyright { font-size: 11px; text-shadow: 0 1px 0 #ddd; float:right; }