<template name="post_submit">
    <div class="container submit">
        <h2>Submit Weather and Avalanche Observations</h2>

        <p class="red"><i class="icon-star"></i> required field</p>

        <form class="form-horizontal">

            <h3>Location</h3>
            <div class="control-group">
                <label class="control-label">Location name</label>
                <div class="controls"><input id="location" type="text" value="" placeholder="My Powder Stash" class="required"/> <i class="icon-star"></i></div>
            </div>
            <div class="control-group">
                <label class="control-label">Click on Map<br>Drag for more precise location</label>
                <div class="controls" id="submit_map"></div>
                <br/>
                <label class="control-label">Latitude / Longitude</label>
                <div class="controls"><input id="latLng" type="text" value="" class="input-xlarge required"/> <i class="icon-star"></i></div>
            </div>
            <div class="control-group">
                <label class="control-label">Date</label>
                <div class="controls"><input id="date" type="text" value="" class="required" /> <i class="icon-star"></i></div>
            </div>
            <div class="control-group">
                <label class="control-label">Time</label>
                <div class="controls">
                    <input id="time" type="text" value="" class="time ui-timepicker-input required" /> <i class="icon-star"></i>
                    <div id="setTimeButton" class="btn">Set current time</div>
                </div>
            </div>

            <h3>Weather Observations</h3>
            <div class="control-group">
                <label class="control-label">Temperature</label>
                <div class="controls"><input id="temp" type="number" value="" /></div>
            </div>
            <div class="control-group">
                <label class="control-label"></label>
                <div class="controls">
                    <label class="radio inline">
                        <input id="tempMeasured" type="radio" value="1" name="tempMeasure" /> Temp measured
                    </label>
                    <label class="radio inline">
                        <input id="tempGuessed" type="radio" value="2" name="tempMeasure" /> Temp guessed
                    </label>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Wind</label>
                <div class="controls">
                    <select id="wind">
                        <option value="north">North</option>
                        <option value="northWest">North West</option>
                        <option value="west">West</option>
                        <option value="southWest">South West</option>
                        <option value="south">South</option>
                        <option value="southWast">South East</option>
                        <option value="west">East</option>
                        <option value="northEast">North East</option>
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Wind Speed</label>
                <div class="controls">
                    <select id="windSpeed">
                        <option value="calm">Calm</option>
                        <option value="light">Light</option>
                        <option value="moderate">Moderate</option>
                        <option value="strong">Strong</option>
                        <option value="veryStrong">Very Strong</option>
                    </select>
                </div>
            </div>

            <h3>Snow Conditions</h3>
            <div class="control-group">
                <label class="control-label">Snow Surface</label>
                <div class="controls">
                    <select id="snowSurface">
                        <option value="fresh">Fresh snow</option>
                        <option value="wind">Wind blown</option>
                        <option value="hoar">Surface hoar</option>
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Foot Penetration</label>
                <div class="controls">
                    <select id="footPen">
                        <option value="none">None</option>
                        <option value="boot_top">Boot Top</option>
                        <option value="knee">Knee Deep</option>
                        <option value="waist">Waist Deep</option>
                        <option value="chest">Chest Deep</option>
                        <option value="head">Over the Head</option>
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">New Snow cm</label>
                <div class="controls">
                    <select id="newSnow">
                        <option value="snow_zero">0</option>
                        <option value="snow_five">5</option>
                        <option value="snow_ten">10</option>
                        <option value="snow_fifteen">15</option>
                        <option value="snow_twenty">20</option>
                        <option value="snow_twenty_five">25</option>
                        <option value="snow_thirty">30</option>
                        <option value="snow_thirty_five">35</option>
                        <option value="snow_forty">40</option>
                        <option value="snow_forty_five">45</option>
                        <option value="snow_fifty">50+</option>
                    </select>
                </div>
            </div>

            <h3>Avalanche Observations</h3>
            <div class="control-group">
                <label class="control-label">See any avalanches?</label>
                <div class="controls">
                    <input type="checkbox" name="see" id="showAvi" />
                </div>
            </div>
            <div class="control-group" id="seeAvi" style="display:none;">
                <label class="control-label">Cause?</label>
                <div class="controls">
                    <select id="aviCause">
                        <option value="aviNatural">Natural</option>
                        <option value="aviRiderAccidental">Rider Accidental</option>
                        <option value="aviRiderControlled">Rider Controlled</option>
                        <option value="aviSnowmobile">Snowmobile</option>
                        <option value="aviHelicopter">Helicopter</option>
                        <option value="aviExplosives">Explosives</option>
                    </select>
                </div>
                <br/>
                <label class="control-label">How many?</label>
                <div class="controls">
                    <select id="aviAmount">
                        <option value="aviNone">None</option>
                        <option value="aviOne">One</option>
                        <option value="aviFew">Few</option>
                        <option value="aviMany">Many</option>
                        <option value="aviLots">Lots</option>
                    </select>
                </div>
                <br/>
                <label class="control-label">Avalanche Size</label>
                <div class="controls">
                    <select id="aviSize">
                        <option value="aviSizeNone">1</option>
                        <option value="aviSizeTwo">2</option>
                        <option value="aviSizeTwoFive">2.5</option>
                        <option value="aviSizeThree">3</option>
                        <option value="aviSizeThreeFive">3.5</option>
                        <option value="aviSizeFour">4</option>
                        <option value="aviSizeFourFive">4.5</option>
                        <option value="aviSizeFive">5</option>
                    </select>
                </div>
                <br/>
                <label class="control-label">Aspect</label>
                <div class="controls">
                    <select id="aviAspect">
                        <option value="aviNorth">North</option>
                        <option value="aviNorthWest">North West</option>
                        <option value="aviWest">West</option>
                        <option value="aviSouthWest">South West</option>
                        <option value="aviSouth">South</option>
                        <option value="aviSouthEast">South East</option>
                        <option value="aviEast">East</option>
                        <option value="aviNorthEast">North East</option>
                        <option value="aviAll">All</option>
                    </select>
                </div>
                <br/>
                <label class="control-label">Elevation</label>
                <div class="controls">
                    <select id="aviElevation">
                        <option value="belowTreeline">Below Treeline</option>
                        <option value="treeline">Treeline</option>
                        <option value="alpine">Alpine</option>
                        <option value="allElevations">All Elevations</option>
                    </select>
                </div>
                <br/>
                <label class="control-label">Average Crown Depth</label>
                <div class="controls">
                    <select id="aviDepth">
                        <option value="aviCrownTen">10</option>
                        <option value="aviCrownTwenty">20</option>
                        <option value="aviCrownThirty">30</option>
                        <option value="aviCrownThirtyFive">40</option>
                        <option value="aviCrownFifty">50</option>
                        <option value="aviCrownSixty">60</option>
                        <option value="aviCrownSeventy">70</option>
                        <option value="aviCrownEighty">80</option>
                        <option value="aviCrownNinety">90</option>
                        <option value="aviCrownHundred">100</option>
                        <option value="aviCrownHundredTwenty">120</option>
                        <option value="aviCrownHundredForty">140</option>
                        <option value="aviCrownHundredSixty">160</option>
                        <option value="aviCrownHundredEighty">180</option>
                        <option value="aviCrownTwoHundred">200</option>
                        <option value="aviCrownTwoHundredFifty">250</option>
                        <option value="aviCrownThreeHundred">300+</option>
                    </select>
                </div>
            </div>

            <h3>Comments</h3>
            <div class="control-group">
                <label class="control-label">Share more details</label>
                <div class="controls">
                    <textarea type="text" id="comments" value="" rows="8" class="comments"></textarea>
                </div>
            </div>

            <div class="form-actions">
                <div class="submitMessage"></div>
                <input type="submit" value="Submit" class="btn btn-success" />
            </div>
        </form>
    </div>
</template>