<template name="user_password">
    <div class="container">
        <h2>Forgot password?</h2>
        <form>
            <div class="control-group">
                <label>Your Email</label>
                <div class="controls">
                    <input id="email" name="email" type="text" value="" />
                </div>
                <div class="form-actions">
                    <input type="submit" class="btn btn-success" value="Reset Password" />
                </div>
            </div>
        </form>
    </div>
</template>