<template name="user_signin">
    <div class="container">
        <div class="signin">
            <div class="already-registered">
                <h3>Please Log in</h3>
                <div class="facebook-signup auth">
                    <a class="facebook-button btn btn-info" href="#">Sign In with Facebook</a>
                </div>
                <div class="twitter-signup auth">
                    <a class="twitter-button btn btn-info" href="#">Sign In with Twitter</a>
                </div>
                <div class="google-signup auth">
                    <a class="google-button btn btn-info" href="#">Sign In with Google</a>
                </div>
                <form>
                    <div class="control-group">
                        <label>Username</label>
                        <div class="controls"><input id="username" name="username" type="text" value="" /></div>
                    </div>
                    <div class="control-group">
                        <label>Password</label>
                        <div class="controls"><input id="password" name="password" type="password" value="" /></div>
                    </div>
                    <div class="form-actions">
                        <input class="btn btn-success" value="Sign In" type="submit" />
                        <a href="/forgot_password" class="btn btn-warning">Forgot Password?</a>
                    </div>
                </form>
                <p>Don't have an account? <a href="/signup" class="btn btn-basic">Sign Up</a></p>
            </div>
        </div>
    </div>
</template>