<template name="home">
    <div class="container">
        <div class="home">
            <h1>Avalanche Observations</h1>
            <p>A community tool providing real time weather and avalanche observations.</p>
            <h2>Features</h2>
            <ul>
                <li>Weather updates clicking on stations</li>
                <li>Zoom out map produces real time cloud layer</li>
                <li>User submitted field observations</li>
                <li>Real time collaboration</li>
            </ul>

            <div class="well caution">
                <h3>CAUTION</h3>
                <p>Beware operating electronic devices around avalanche transceivers may cause interference.</p>
                <p>Please turn to airplane mode or turn off electronic device after using any app while in avalanche terrain.</p>
            </div>
        </div>
    </div>
</template>